// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
  background-color: yellow;
  padding: 10px;
}

footer {
  background-color: skyblue;
  text-align: center;
}